:root {
  --main-color: #009;
  --anchor-color: #333;
  --anchor-active-color: salmon;
  --primary-text-color: #000;
  --primary-bg-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 0.875rem / 1.4;
}

footer {
  --footer-text-color: #fff;
  --fuuter-bg-color: #000;
}

a:link,
a:visited,
a:link:active,
a:visited:active {
  text-decoration: none;
  color: inherit;
}
