.grid {
    --min: 30ch;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: 1rem;
}

body {
    --padding: 5vw;
    --max-width: 180ch;
}

.card {
    min-width: 100%;
    max-width: min(var(--min), 1fr);
}